---
import MarkdownPage from "../../components/Markdown";
import { getBlog, getBlogFileNames } from "../../util";
export function getStaticPaths() {
  return getBlogFileNames().map((f) => {
    return { params: { blog: f.replace(/\.mdx$/, "") } };
  });
  // return [
  //   { params: { path: "one/two/three" } },
  //  { params: { path: "four" } },
  //  { params: { path: undefined } },
  // ];
}

const { blog } = Astro.params;
console.log(blog);
const blogInfo = getBlog(blog + ".mdx");
console.debug(blogInfo);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
<!--
    <script
      src="https://giscus.app/client.js"
      data-repo="NeonGamerBot-QK/blog"
      data-repo-id="R_kgDOM8DnFQ"
      data-category="General"
      data-category-id="DIC_kwDOM8DnFc4Cjakf"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
-->    
<title>Blog - {blogInfo.config.title}</title>
  </head>
  <body>
    <main>
      <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content">
          <div>
            <div class="text-center">
              <h1 class="text-5xl font-bold">{blogInfo.config.title}</h1>
              <p class="py-6">{blogInfo.config.description}.</p>
            </div>
            <div
              class="bg-base-300 p-5 rounded shadow-xl prose-invert prose prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-400 prose-p:text-justify prose-img:rounded-xl"
            >
              <MarkdownPage markdown={blogInfo.actualMd} />
            </div>
            <br />
<div class="text-center">
  <script
      src="https://giscus.app/client.js"
      data-repo="NeonGamerBot-QK/blog"
      data-repo-id="R_kgDOM8DnFQ"
      data-category="General"
      data-category-id="DIC_kwDOM8DnFc4Cjakf"
      data-theme="https://giscus.catppuccin.com/themes/mocha.css"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
</div>
          </div>
        </div>
      </div>
    </main>
    
  </body>
</html>
