---
import { getCollection } from "astro:content";
import { estimateReadTime } from "../../../util/get-read-time";
import { SEO } from "astro-seo";
export async function getStaticPaths() {
  const files = await getCollection("blog");
  return files.filter((f) => f.data.date.getTime() < Date.now()).map((f) => {
    return { params: { blog: f.slug } };
  });
}

const { blog } = Astro.params;
console.log(blog);
const blogInfo = (await getCollection("blog")).find((bl) => blog === bl.slug);
console.debug(blogInfo);
const thepost = await blogInfo.render()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
         <link rel="stylesheet" href="/dsylexic.css" />
         <script>
          if (localStorage.getItem('use-dyslexic-font') === 'true') {
            console.log('using dyslexic font');
            document.documentElement.classList.add('dyslexic');
          }
         </script>
             <SEO
             title={blogInfo.data.title}
             description={blogInfo.data.description}
             openGraph={{
               basic: {
                 title: blogInfo.data.title,
                 type: "blog",
                 image: `./${blogInfo.slug}/og.png`,
               },
               optional: {
                 locale: "en_US",
                 description: "My Blogs",
                 siteName: "Saahils Blog",
               }
             }}
             charset="utf-8"
             titleDefault="Saahils Blog"
             extend={{
               // extending the default link tags
               link: [{ rel: "icon", href: "/favicon.ico" }],
               meta: [{name: "theme-color", content: "#cba6f7"}, {name:"title", content: "Saahils Blog"}, { name: "msapplication-TileColor", content: "#cba6f7" }],
             }}
           />
<!--
    <script
      src="https://giscus.app/client.js"
      data-repo="NeonGamerBot-QK/blog"
      data-repo-id="R_kgDOM8DnFQ"
      data-category="General"
      data-category-id="DIC_kwDOM8DnFc4Cjakf"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
-->    
<title>{blogInfo.data.title}</title>
  </head>
  <body>
    <main>
      <div class="hero w-full bg-base-200 min-h-screen">
        <div class="hero-content">
          
          <div>
            <div class="text-center">
              <h1 class="text-5xl font-bold">{blogInfo.data.title}</h1>
              <p class="py-6 text-md">{blogInfo.data.description} - <span class="badge badge-outline">{estimateReadTime(blogInfo.body)}</span></p>
            </div>
            <div
              class="prose-p:text-justify p-2 rounded shadow-xl prose-invert prose prose-h1:font-bold prose-h2:text-xl
  prose-a:text-blue-400  prose-img:rounded-xl "
  style={{ 
    color: "#cdd6f4",
  }}
            >
          <!--  dont ask why its here it just works -->
            <figure>
              <img src={blogInfo.data.cover} class="rounded w-full" alt="Cover image" />
            </figure>
              <!-- <MarkdownPage markdown={blogInfo.body} /> -->
               {<thepost.Content />}
            </div>
            <br />

<div class="text-center">
  <script
      src="https://giscus.app/client.js"
      data-repo="NeonGamerBot-QK/blog"
      data-repo-id="R_kgDOM8DnFQ"
      data-category="General"
      data-category-id="DIC_kwDOM8DnFc4Cjakf"
      data-theme="https://giscus.catppuccin.com/themes/mocha.css"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
</div>
          </div>
        </div>
      </div>
    </main>
    
  </body>
</html>
